
/* Global View aka Desktop view */
h1
{
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
}



/* Tablet View */
@media (max-width:768px)
{
    h1{
        color:darkorange;
    }
}


/* Mobile View */
@media (max-width:500px)
{
    h1{
        color:darkblue;
    }
}
